.title {
    text-align: center;
    background-color: lightseagreen;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main {
    width: 95%;
    margin: auto;
}

.list-box {
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
}

#the-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

input[name='newItemInput'] {
    width: calc(100% - 50px);
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#the-list button {
    margin: 0px 0px 5px 10px;
}

input[name='editItemInput'] {
    width: calc(100% - 60px);
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}