* {
    box-sizing: border-box;
}

#dice-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}

.die {
    width: 80%;
    aspect-ratio: 1;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 10%;
    padding: 10%;
}

.dot {
    width: 100%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
}

button {
    margin: 50px;
    width: 75%;
    aspect-ratio: 2;
    grid-column: span 2;
    font-size: xx-large;
}