#root-container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.square {
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  font-size: xx-large;
}