body {
  margin: 5px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1.5em;
  color: white;
  /* font-size: medium; */
  line-height: 1.2em;
}

.parent {
  margin-left: 1em;
}

.selected {
  background-color: Grey;  
}

.input-field {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1.5em;
  color: white;
  border:none;
  outline: none;
  width: 100%;
}

.logout {
  position: fixed;
  right: 0px;
}

.logout, button {
  color: red;
  font-size: small;
}